@charset "utf-8";
@import url("Mario64/stylesheet.css");
@import url("KiwiSoda/stylesheet.css");
h1 {
    text-align: center;
    text-decoration: none;
    font-family: KiwiSoda;
    color: #FFFFFF;
    font-size: 60px;
}
.vidCenter {
    height: auto;
    margin: 0 auto;
    display: block;
}
#displayedVideo {
	width: 100%;
	max-height: 600px;
}
#caption {
    font-family: "Mario64";
    color: #FFFFFF;
    font-size: 30px;
}
#topBTN   {
    font-family: "Mario64";
    font-size: 20px;
}
#bottomBTN {
    font-family: "Mario64";
    font-size: 20px;
}
#caption2 {
    color: #FFFFFF;
    font-family: "Mario64";
}
